.button.button-primary {
  background: #00408c;
  border-color: #00408c;
}
a {
  color: #00408c;
}
.splash {
  padding: 2rem 0rem 5rem 0rem;
  text-align: center;
  background: aliceblue;
  height: 25.5vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.splash .text, .splash .graphic {
  width: 30%;
  max-width: 550px;
}
.splash .text {
  height: 100%;
  display: flex;
  align-items: center;
}
.splash .graphic {
  height: 100%;
}
.splash .graphic .logo {
  width: 100%;
}
.splash .graphic .arrow {
  width: 20%;
  -webkit-animation: shimmy 2s infinite;
          animation: shimmy 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes shimmy {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
}

@keyframes shimmy {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0px, 50px);
            transform: translate(0px, 50px);
  }
}

.breakdown {
  border-top: 1px solid #dddddd;
  padding: 5rem 0rem;
}
.breakdown h1 {
  padding-bottom: 3rem;
}
.breakdown .logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.breakdown .logo img {
  width: 100%;
}

@media (max-width: 900px) {
  .splash {
    height: 32vw;
  }
  .splash .text, .splash .graphic {
    width: 40%;
  }
}
@media (max-width: 550px) {
  .breakdown .logo img {
    width: 80%;
    padding-bottom: 3rem;
  }

}
.getStarted {
  padding: 5rem 0rem;
}
.getStarted h2 {
  font-size: 3rem;
}
.footer {
  background: aliceblue;
  padding: 5rem 0rem;
  text-align: center;
  font-size: 1.5rem;
}
.footer .links {
  letter-spacing: 1rem;
  padding-bottom: 1rem;
}